-- Pull in the wezterm API
local wezterm = require("wezterm")

-- This will hold the configuration.
local config = wezterm.config_builder()

-- This is where you actually apply your config choices.

-- For example, changing the initial geometry for new windows:
config.initial_cols = 120
config.initial_rows = 28

config.window_background_opacity = 0.85
config.font_size = 10
config.color_scheme = "nightfox"

config.font = wezterm.font("JetBrainsMono Nerd Font")
{{ if eq .chezmoi.os "windows" -}}
config.default_prog = { "pwsh.exe" }
config.mouse_bindings = {
  {
    event = { Drag = { streak = 1, button = "Left" } },
    mods = "ALT",
    action = wezterm.action.StartWindowDrag,
  },
}
{{ end -}}
config.window_decorations = "RESIZE" -- Hide the title bar while still allowing edge resize
config.hide_tab_bar_if_only_one_tab = true
-- Finally, return the configuration to wezterm:
return config
